/vendor/
/node_modules/
npm-debug.log
yarn-error.log

# Laravel-specific directories
/public/storage
/public/hot
/public/build
/storage/pail
/storage/*.key
/bootstrap/compiled.php

# Environment and Credentials
.env
.env.*
!.env.example
.env.backup
.env.production
auth.json
/auth.json

# Keys and Certificates
*.key
*.pem

# Testing and Cache
.phpunit.result.cache
/.phpunit.cache

# IDEs and Editors
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json
Homestead.json
Homestead.yaml
/.vagrant
/dokumentasi
server.log
public/images/logo_company.png
public/images/logo_company.webp
public/favicon.ico